#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This sets the form height to be 100% of the viewport height */
    margin: 0 auto; /* This centers the form horizontally */
    margin-left: 100ex;
  }
  
  #form h2 {
    margin-bottom: 20px;
    color: rgb(180, 179, 179);
  }
  